@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  --font-body: "DM Serif Display", serif;
  --font-heading: "Karla", sans-serif;

  --main-padding: 3rem 12rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 56%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 52%;
  }
}
